<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<!-- <link rel="shortcut icon" href="img/icons/icon-48x48.png" /> -->

	<title>Login</title>

	<link href="css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
	<main class="d-flex w-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							<h1 class="h2">Sistema Banário</h1>
							<p class="lead">
								SOFTEX PE | UFRN
							</p>
						</div>

						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									<div class="text-center">
										<img src="img/avatars/avatar.png" alt="Charles Hall" class="img-fluid "
											width="132" height="132" />
									</div>
									<form id="loginForm" action="/home" method="post">
										<div class="mb-3">
											<label class="form-label">Código PAN</label>
											<input class="form-control form-control-lg" type="text" name="pan"
												placeholder="Digite o Código PAN" />
										</div>
										<div class="mb-3">
											<label class="form-label">Data (dd/mm/aaaa)</label>
											<input class="form-control form-control-lg" type="text" name="data"
												placeholder="Digite a Data" />

											<small><a href="#">Esqueceu a Senha?</a></small><br>
											<small><a href="/cadastro">Não possui cadastro? Clique aqui e
													cadastre-se!</a></small>
										</div>

										<!-- Adiciona campos ocultos para a assinatura e a chave secreta -->
										<input type="hidden" name="assinatura" id="assinatura" />
										<input type="hidden" name="chaveSecreta" id="chaveSecreta"
											value="<%= process.env.CHAVE_SECRETA %>" />

										<div class="text-center mt-3">
											<!-- Adiciona a chamada à função de assinatura no evento 'submit' -->
											<button type="button" class="btn btn-lg btn-primary"
												onclick="assinarEEnviar()">Entrar</button>

										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>
	<script>
		function assinarDigitalmente(dados, chaveSecreta) {
			const hmac = CryptoJS.HmacSHA256(JSON.stringify(dados), chaveSecreta);
			return hmac.toString(CryptoJS.enc.Hex);
		}

		function assinarEEnviar() {
			const pan = document.querySelector('input[name="pan"]').value;
			const data = document.querySelector('input[name="data"]').value;

			// Formata a data para o formato aaaa-mm-dd
			const [dia, mes, ano] = data.split('/');
			const dataFormatada = `${ano}-${mes.padStart(2, '0')}-${dia.padStart(2, '0')}`;

			// Objeto com os dados para assinatura
			const dadosParaAssinatura = {
				pan: pan,
				data: dataFormatada
				// Adicione outros campos conforme necessário
			};

			// Obtém a chave secreta do campo oculto
			const chaveSecreta = document.getElementById('chaveSecreta').value;

			// Gera a assinatura
			const assinatura = assinarDigitalmente(dadosParaAssinatura, chaveSecreta);

			// Atualiza o valor do campo 'assinatura' no formulário
			document.getElementById('assinatura').value = assinatura;

			// Submete o formulário
			document.getElementById('loginForm').submit();
		}
	</script>
	<script src="js/app.js"></script>

</body>

</html>