<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>Boas-Vindas</title>
    <link href="css/app.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="/">
                    <span class="align-middle">SOFTEX PE</span>
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Menu
                    </li>

                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="/dashboard">
                            <i class="align-middle" data-feather="sliders"></i> <span
                                class="align-middle">Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/profile">
                            <i class="align-middle" data-feather="user"></i> <span class="align-middle">Perfil</span>
                        </a>
                    </li>

                    <hr>
                    <li class="sidebar-header">
                        Clientes
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/cadastrar-usuario">
                            <i class="align-middle" data-feather="users"></i> <span class="align-middle">Cadastro</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/register-card">
                            <i class="align-middle" data-feather="credit-card"></i> <span
                                class="align-middle">Cartão</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/register-acount">
                            <i class="align-middle" data-feather="unlock"></i> <span class="align-middle">Conta</span>
                        </a>
                    </li>



                </ul>

            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
                                <div class="position-relative">
                                    <i class="align-middle" data-feather="bell"></i>
                                    <span class="indicator">4</span>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0"
                                aria-labelledby="alertsDropdown">
                                <div class="dropdown-menu-header">
                                    4 Novas Notificações
                                </div>
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <i class="text-danger" data-feather="alert-circle"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">A definir</div>
                                                <div class="text-muted small mt-1">A definir.</div>
                                                <div class="text-muted small mt-1">A definir</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <i class="text-warning" data-feather="bell"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">A definir</div>
                                                <div class="text-muted small mt-1">A definir</div>
                                                <div class="text-muted small mt-1">A definir</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <i class="text-primary" data-feather="home"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">A definir</div>
                                                <div class="text-muted small mt-1">A definir</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <i class="text-success" data-feather="user-plus"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">A definir</div>
                                                <div class="text-muted small mt-1">A definir
                                                </div>
                                                <div class="text-muted small mt-1">A definir</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="dropdown-menu-footer">
                                    <a href="#" class="text-muted">Ver todas notoficações</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
                                data-bs-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>

                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
                                data-bs-toggle="dropdown">
                                <img src="img/avatars/avatar.png" class="avatar img-fluid rounded me-1"
                                    alt="Charles Hall" /> <span class="text-dark">Administrador</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="/profile"><i class="align-middle me-1"
                                        data-feather="user"></i> Perfil</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="align-middle me-1"
                                        data-feather="help-circle"></i> Suporte</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout-master">Sair</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="d-flex w-100">
                <div class="container d-flex flex-column">
                    <div class="row vh-100">
                        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                            <div class="d-table-cell align-middle">

                                <div class="text-center mt-4">
                                    <h1 class="h2 mx-auto">Bem-vindo ao Sistema Banário Master</h1>
                                    <p class="lead">
                                        SOFTEX PE | UFRN
                                    </p>
                                </div>

                                <div class="card">
                                    <div class="card-body">
                                        <div class="m-sm-4">


                                            <form action="/cadastrar-usuario" method="post">

                                                <div class="mb-3">
                                                    <label class="form-label" for="nome">Nome:</label>
                                                    <input class="form-control" type="text" id="nome" name="nome"
                                                        required>
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label" for="cpf">CPF:</label>
                                                    <input class="form-control" type="text" id="cpf" name="cpf"
                                                        required>
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label" for="estado">Estado:</label>
                                                    <input class="form-control" type="text" id="estado" name="estado"
                                                        required>
                                                </div>



                                                <div class="mb-3">
                                                    <label class="form-label" for="cidade">Cidade:</label>
                                                    <input class="form-control" type="text" id="cidade" name="cidade"
                                                        required>
                                                </div>


                                                <div class="mb-3">
                                                    <label class="form-label" for="bairro">Bairro:</label>
                                                    <input class="form-control" type="text" id="bairro" name="bairro">
                                                </div>


                                                <div class="mb-3">
                                                    <label class="form-label" for="rua">Rua:</label>
                                                    <input class="form-control" type="text" id="rua" name="rua">

                                                </div>


                                                <div class="mb-3">
                                                    <label class="form-label" for="numero">Número:</label>
                                                    <input class="form-control" type="text" id="numero" name="numero">
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label" for="telefone">Telefone:</label>
                                                    <input class="form-control" type="text" id="telefone"
                                                        name="telefone">
                                                </div>


                                                <div class="mb-3">
                                                    <label class="form-label" for="status">Status:</label>
                                                    <input class="form-control" type="text" id="status" name="status">
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label" for="email">E-mail:</label>
                                                    <input class="form-control" type="email" id="email" name="email"
                                                        required>
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label" for="complemento">Complemento:</label>
                                                    <input class="form-control" type="text" id="complemento"
                                                        name="complemento">
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label" for="senha">Senha:</label>
                                                    <input class="form-control" type="password" id="senha" name="senha"
                                                        required>
                                                </div>

                                                <div class="text-center mt-3">
                                                    <button type="submit" class="btn btn-lg btn-primary">Cadastrar
                                                        Cliente</button>
                                                </div>

                                            </form>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
            </main>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <p class="mb-0">
                                <a class="text-muted" href="" target="_blank"><strong>A DEFINIR</strong></a> &copy;
                            </p>
                        </div>
                        <div class="col-6 text-end">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="text-muted" href="" target="_blank">Termo de Privacidade</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

</body>


</html>