<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Popup</title>
    <style>
        #error-popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            border: 2px solid #ff0000;
            background-color: #ffebeb;
            text-align: center;
        }

        #countdown {
            font-size: 18px;
            font-weight: bold;
            color: #ff0000;
        }
    </style>
</head>

<body>
    <div id="error-popup">
        <h2>Error</h2>
        <p>
            <%= errorMessage %>
        </p>
        <p>
            Redirecionando em: <span id="countdown">5</span> segundos
        </p>
    </div>

    <script src="js/countdown.js"></script>

</body>

</html>